@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

html {
  transition:
    background-color 0.3s,
    color 0.3s,
    border-color 0.3s;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
